.graduate-students-wrapper {
  padding: 79px 24px 0 254px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  height:100vh;
  h6 {
    font-size: 14px;
    color: #04041c;
    // font-weight: bold;
  }
  p {
    font-size: 14px;
    color: #000000;
    margin: 24px 0 5px;
  }
  .select-college {
    width: 201px;
    height: 34px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    opacity: 1;
  }
  .students-table {
    // background: #ffffff 0% 0% no-repeat padding-box;
    // box-shadow: 0px 0px 20px #cecece29;
    // border: 1px solid #e5e5e5;
    // border-radius: 4px;
    // opacity: 1;
    // margin-top: 24px;
    // padding: 18px 27px 36px 30px;
    // h6 {
    //   font-size: 16px;
    //   margin: 0;
    //   margin-top: 10px;
    // }
    // .btn-filter {
    //   width: 88px;
    //   height: 34px;
    //   background: #f2f2f2 0% 0% no-repeat padding-box;
    //   border-radius: 4px 4px 0px 0px;
    //   opacity: 1;
    //   font-size: 14px;
    //   color: #000000;
    // }

    // .btn-export {
    //   width: 98px;
    //   height: 34px;
    //   background: #ffffff 0% 0% no-repeat padding-box;
    //   border: 1px solid #d4d4d4;
    //   border-radius: 4px;
    //   opacity: 1;
    //   font-size: 14px;
    //   color: #000000;
    // }
    // .input-search {
    //   width: 237px;
    //   height: 34px;
    //   background: #ffffff 0% 0% no-repeat padding-box;
    //   border: 1px solid #d6d6d6;
    //   border-radius: 4px;
    //   opacity: 1;
    // }
    tr {
      .ant-table-cell {
        font-size: 14px;
        color: #04041c;
        // padding: 9px 0px;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
      }
      .ant-table-cell:nth-child(1) {
        padding-left: 30px;
      }
      .ant-table-cell:last-child {
        padding-right: 30px;
      }
    }
    thead {
      .ant-table-cell {
        font-size: 14px;
        color: #686874;
        // padding: 15px 0 5px 0;
        background-color: #ffffff;
      }
    }
    .ant-pagination {
      background-color: #ffffff;
      margin: 0;
      padding: 30px;
      border-radius: 0 0 4px 4px;

      .ant-pagination-item {
        display: none;
      }
    }
  }
}
